[data-theme="--theme1"],
[data-theme="--default"] {
    --background: #d9e1d4;
    --progres: #93c175;
    --breakTime: #a06cd5;
    --progresLight: rgba(147, 193, 117, 0.3);
}

[data-theme="--theme2"] {
    --background: #FFE381;
    --progres: #cbaf4d;
    --breakTime: #2a9a5d;
    --progresLight: rgba(203, 176, 77, 0.3);

}

[data-theme="--theme3"] {
    --background: #E8B4BC;
    --progres: #ae6b75;
    --breakTime: #51948a;
    --progresLight: hsla(351, 29%, 55%, 0.3);

}

[data-theme="--theme4"] {
    --background: #60d394;
    --progres: #2a9a5d;
    --breakTime: #d9e1d4;
    --progresLight: hsla(147, 57%, 38%, 0.3);
}

[data-theme="--theme5"] {
    --background: #A3CEF1;
    --progres: #5e91bb;
    --breakTime: #a16e44;
    --progresLight: hsla(207, 41%, 55%, 0.3);
}

[data-theme="--theme6"] {
    --background: #f78e69;
    --progres: #fbcdbd;
    --breakTime: #087196;
    --progresLight: hsla(15, 89%, 86%, 0.3);
}

[data-theme="--theme7"] {
    --background: #a06cd5;
    --progres: #c8aae7;
    --breakTime: #60d394;
    --progresLight:hsla(270, 56%, 79%, 0.3);
}

[data-theme="--theme8"] {
    --background: #456990;
    --progres: #bfcfe1;
    --breakTime: #ba966f;
    --progresLight: hsla(212, 36%, 82%, 0.3);
}

[data-theme="--theme9"] {
    --background: #30343F;
    --progres: #788099;
    --breakTime: #2a9a5d;
    --progresLight: hsla(225, 14%, 54%, 0.3);
}

:root {
    --shadow: -4px -4px 6px hsla(0, 0%, 100%, 0.25), 6px 6px 6px rgba(0, 0, 0, 0.102);
    --shadow-inset: inset -4px -4px 6px hsla(0, 0%, 100%, 0.25), inset 6px 6px 6px #0000001a;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container-bg {
    transition: 1s;
    background-color: var(--background);
}

.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-container {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    gap: 1em;
}

.color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.progres-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: inherit;
    gap: 3em;
}

.selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.circular-progress {
    position: relative;
    height: 26vw;
    width: 26vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-inset);
    transform: scale(0.8);
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 23vw;
    width: 23vw;
    max-width: 440px;
    max-height: 440px;
    min-width: 260px;
    min-height: 260px;
    border-radius: 50%;
    background-color: var(--background);
    box-shadow: var(--shadow);
    transition: 1s;

}

.circular-progress span {
    color: var(--progres);
    position: relative;
    font-size: 3.5em;
    font-weight: 600;
}

.state {
    position: absolute;
    top: -2em;
    transition: 1s;
    font-size: 3em;
    font-weight: bold;
    color: var(--progres);
    opacity: .5;
    animation: state 1s;
}

.text {
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.theme-selector {
    background: var(--background);
    border: none;
    border: 1px solid var(--progres);
    color: var(--progres);
    border-radius: 10px;
    padding: 0.5em;
}

.theme-selector:focus-visible {
    outline: none;
}

.dropdown-center button,
#liveToastBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    box-shadow: var(--shadow);
    position: relative;
    transition: 1s;
}

.dropdown-center button::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: linear-gradient(90deg, var(--background)50%, rgba(148, 187, 233, 0) 50%);
    border-radius: 50% 25% 25% 50% / 50% 0% 0% 50%;
    z-index: 1;

}

.dropdown-center button::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--progres);
    border-radius: 50%;
}

.dropdown-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    border-bottom: 1px solid #efefef;
}

#liveToastBtn {
    color: var(--progres);
    font-size: 2em;
    font-weight: bolder;
}

#liveToast {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.button {
    border-radius: 20px;
    border: none;
    font-size: 1.5em;
    color: var(--progres);
    font-weight: bold;
    background-color: var(--background);
    width: 150px;
    height: 50px;
    animation: shadow .2s;
    box-shadow: var(--shadow);
}

.button:active {
    animation: shadowIn .2s;
    box-shadow: var(--shadow-inset)
}

@keyframes shadow {
    0% {
        box-shadow: var(--shadow-inset)
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: var(--shadow);
    }
}

@keyframes shadowIn {
    0% {
        box-shadow: var(--shadow);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: var(--shadow-inset);
    }
}

@keyframes desplazamiento {
    0% {
        top: 0;
    }
    100% {
        top: 3em;
    }
}

.steps {
    display: flex;
    top: 20%;
    width: 15vw;
    max-width: 180px;
    min-width: 160px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.steps .step {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: var(--progresLight);
    font-size: 1em;
    font-weight: bolder;
    border-radius: 50%;
    background: var(--background);
    border: 4px solid var(--progresLight);
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 1;
}

.steps .step.active {
    transition-delay: 100ms;
    border-color: var(--breakTime);
    color: var(--breakTime);
    opacity: 1;
}

.steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--progresLight);
}

.progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--breakTime);
    transition: all 300ms ease;
}

.footer{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.footer a{
    color: var(--progres);
    text-decoration: none;
    margin-left: 3pt;
}

@media screen and (max-width: 425px) {
    .progres-container{
        gap: 2em;
    }
    .circular-progress span {
        font-size: 3.5em;
    }
    .state {
        font-size: 2.5em;
    }
    .controls {
        gap: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .circular-progress span {
        font-size: 4em;
    }
    .steps{
        top: 25%;
    }
}

@media screen and (min-width: 1440px) {
    .circular-progress span {
        font-size: 5em;
    }
    .steps{
        max-width: 200px;
    }
    .steps .step{
        height: 40px;
        width: 40px;
    }
}