[data-theme="--theme1"]{
    --background:#d9e1d4;
    --progres: #93c175;
    --breakTime: #a06cd5;
}

[data-theme="--theme2"]{
    --background:#FFE381;
    --progres: #cbaf4d;
    --breakTime: #2a9a5d;
}

[data-theme="--theme3"]{
    --background:#E8B4BC;
    --progres: #ae6b75;
    --breakTime: #51948a;
}

[data-theme="--theme4"]{
    --background:#60d394;
    --progres: #2a9a5d;
    --breakTime: #d9e1d4;
}

[data-theme="--theme5"]{
    --background:#A3CEF1;
    --progres: #5e91bb;
    --breakTime: #a16e44;
}

[data-theme="--theme6"]{
    --background:#FF7F50;
    --progres: #ffbca4;
    --breakTime: #0080af;
}

[data-theme="--theme7"]{
    --background:#a06cd5;
    --progres: #c8aae7;
    --breakTime: #60d394;
}

[data-theme="--theme8"]{
    --background:#456990;
    --progres: #bfcfe1;
    --breakTime: #ba966f;
}

[data-theme="--theme9"]{
    --background:#30343F;
    --progres: #788099;
    --breakTime: #2a9a5d;
}

:root {
    --shadow: -6px -6px 6px hsla(0, 0%, 100%, 0.102), 6px 6px 6px rgba(0, 0, 0, 0.102);
    --shadow-inset: inset -6px -6px 6px #ffffff1a, inset 6px 6px 6px #0000001a;

}

body{
    font-family: 'Quicksand', sans-serif;
}

.container-bg {
    transition: 1s;
    background-color: var(--background);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3em;
    /* background-color: var(--dark); */
}

.selector{
    position: absolute;
    top: 10px;
    right: 10px;
}

.circular-progress {
    position: relative;
    /* height: 250px;
    width: 250px; */
    height: 26vw;
    width: 26vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    /* background: conic-gradient(var(--progres) 3.6deg, transparent 0deg); */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-inset);
    /* box-shadow: inset -10px -10px 10px #ffffff1a,
        inset 10px 10px 10px #0000001a; */
}

.circular-progress::before {
    content: "";
    position: absolute;
    /* height: 210px;
    width: 210px; */
    height: 23vw;
    width: 23vw;
    max-width: 440px;
    max-height: 440px;
    min-width: 260px;
    min-height: 260px;

    border-radius: 50%;
    background-color: var(--background);
    box-shadow: var(--shadow);
    /* box-shadow: -10px -10px 10px #ffffff1a,
        10px 10px 10px #0000001a; */
    transition: 1s;
    
}

.circular-progress span{
    color: var(--progres);
    position: relative;
    font-size: 5em;
    font-weight: 600;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }


.text {
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.theme-selector{
    background: var(--background);
    border: none;
    border: 1px solid var(--progres);
    color: var(--progres);
    border-radius: 10px;
    padding: 0.5em;
}

.theme-selector:focus-visible{
    outline: none;
}

/* .theme-selector option{
    background-color: var(--progres);
    color: var(--background);
    padding: 8px 16px;
} */

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.button{
    padding: .2em 0;
    border-radius: 20px;
    border: none;
    font-size: 1.5em;
    color: var(--progres);
    font-weight: bold;
    background-color: var(--background);
    box-shadow: var(--shadow);
    transition: 1s;
    width: 150px;
}

.button:hover{
    box-shadow: var(--shadow-inset);
    transition: 2s;
}

.button:active{
    box-shadow: var(--shadow);

}

@media screen and (max-width: 425px) {
    .circular-progress span{
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    .circular-progress span{
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1024px) {
    .circular-progress span{
        font-size: 4em;
    }
}

@media screen and (min-width: 1025px) {
    .circular-progress span{
        font-size: 5em;
    }
}
